<template name="AddStock">
    {{> Nav}}

    <div class="container">



            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <form class="add-product form-horizontal" role="form" method="post">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Add Product</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Barcode:</label>

                                <div class="col-sm-8">
                                    <input type="text" id="productBarcode" placeholder="Product Barcode"
                                           class="form-control barcodeTxt" autocomplete="off">
                                    <label id="barcode_exists" class="barcode_exists" style="display: none">This Barcode already exists</label>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Name:</label>

                                <div class="col-sm-8">
                                    <input type="text" id="productName" placeholder="Product Name"
                                           class="form-control nameTxt">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Size:</label>

                                <div class="col-sm-8">
                                    <input type="text" id="productSize" placeholder="Product Size"
                                           class="form-control sizeTxt">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Price:</label>

                                <div class="col-sm-8">
                                    <input type="text" id="productPrice" placeholder="Product Price"
                                           class="form-control priceTxt">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Position:</label>


                                <div class="col-md-8">

                                    <div class="checkbox">
                                        <label><input class="onShelfVal" id="onShelfVal" type="checkbox">On Shelf</label>
                                    </div>
                                    <div id="enterPos" style="display: none">

                                        <div class="col-md-4 ">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" id="tierBtn" data-toggle="dropdown">Tier No:
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu tierVal" id="tierVal" role="menu" aria-labelledby="menu1">
                                                    <li role="presentation" value="1"><a role="menuitem">Tier 1</a></li>
                                                    <li role="presentation" value="2"><a role="menuitem">Tier 2</a></li>
                                                    <li role="presentation" value="3"><a role="menuitem">Tier 3</a></li>
                                                    <li role="presentation" value="4"><a role="menuitem">Tier 4</a></li>
                                                </ul>
                                            </div>
                                            <div id="tierTxt" style="text-align: center; display: none">
                                                On Tier 1
                                            </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <input type="text" id="leftPos" placeholder="Position from Left"
                                                   class="form-control leftPos">
                                            <div id="leftPosTxt" style="text-align: center; display: none">
                                                10 Item(s) From Left
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" id="colNo" placeholder="No. of Columns"
                                                   class="form-control colNo">
                                        </div>
                                        <div id="colTxt" style="text-align: center; display: none">
                                            For 3 Columns
                                        </div>

                                    </div>
                                </div>



                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Order Quantity:</label>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-danger btn-number" id="minus" data-type="minus" data-field="quant[2]">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input style="text-align: center" type="text" id="input" class="form-control input-number" value="0" min="0" max="100">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-number" id="plus" data-type="plus" data-field="quant[2]">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                                <!--<div class="col-sm-8">
                                    <input type="text" id="productPrice" placeholder="Product Price"
                                           class="form-control priceTxt">
                                </div>-->

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="textinput">Product Image:</label>

                                <div class="col-sm-8">
                                    <div class="col-md-4">
                                        <span class="file-input btn btn-block btn-primary btn-file">
                                            Browse&hellip; <input type="file" id="addImage" class="addImage">
                                        </span>
                                        <!--<input type="file" class="image" id="image" style="display: inline"/>-->
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-squre img-responsive" alt="No Image" id="newPicture" src="">
                                    </div>
                                </div>

                            </div>




                        </fieldset>
                     </form>

                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-12">
                            <div>
                                <!--<button type="submit" class="cancel btn btn-default">Cancel</button>-->
                                <button class="add btn btn-primary add_btn col-sm-4">Add Product</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->



    </div>

</template>

<template name="BarcodePill">
    {{name}} <small class="text-danger">This Barcode already exists</small>
</template>

<template name="NoMatchBarcode">
    <!--<span class="text-danger">No Products Found!<br/>Please Re-Enter the Product Name.</span>-->
</template>