<template name="AppMonitor">

    {{>Nav}}

    <div class="container">
        <h3>Monitoring the Mobile Application</h3>

        {{#if StockFillingList.count}}
            <p>The Staff Member is Stock Filling...</p>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-8">Product</th>
                        <th class="text-center col-md-2">Need Quantity</th>
                        <th class="text-center col-md-2">Fill Quantity</th>
                        <th class="text-center col-md-2">Order</th>
                        <!--<td class="text-center"><strong>Order ID</strong></td>
                        <td class="text-center"><strong>Date</strong></td>
                        <td class="text-center"><strong>User</strong></td>-->
                    </tr>
                    </thead>
                    <tbody>
                    {{#each StockFillingList}}
                        <tr>
                            <td>{{name}} ({{size}})</td>
                            <td class="text-center">{{needQuant}}</td>
                            <td class="text-center">{{fillQuant}}</td>
                            <td class="text_center">
                                <div class="checkbox">
                                <label><input class="isOrderVal" value="{{_id}}" id="isOrderVal" type="checkbox" checked="{{Order}}" >Order</label>
                            </div></td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        {{else}}
            <p>The Staff Member hasn't Started Stock Filling...</p>
        {{/if}}


    </div>
</template>