<template name="DeleteSuccess">
    {{> Nav}}


    <div class="container">
        <div class="alert alert-success alert-dismissable">
            <strong>
                Product Deleted!
            </strong>
            <br/>
            You successfully deleted the Product: <b>{{name}}</b>.
        </div>
        {{test}}

    </div>
</template>