<template name="FullOrder">
    <div class="row" id="orderTable" style="visibility: visible">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Full Order List {{getProductName}}</h3>

                </div>
                <table class="table " id="dev-table">
                    <thead class="panel-title">
                    <tr>
                        <th></th>
                        <th class="col-md-3">Product Name</th>
                        <th class="col-md-3">Size</th>
                        <th class="col-md-3">Price</th>
                        <th class="col-md-3">Order Quantity</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each fullOrderList}}
                        {{>OrderProduct}}
                    {{/each}}

                    <!--<tr>
                        <td></td>
                        <td>Bob</td>
                        <td>Loblaw</td>
                        <td>boblahblah</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Holden</td>
                        <td>Caulfield</td>
                        <td>penceyreject</td>
                    </tr>-->
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    {{#if fullOrderList.count}}
    <div class="col-md-1 col-md-offset-9">
        <button class="btn btn-success genOrderText" id="genOrder">Generate Order File</button>
    </div>
    {{/if}}
</template>