<template name="Nav">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="col-xs-12 col-sm-11 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-11">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                {{#if currentUser}}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <a class="navbar-brand" href="/">StockApp</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                            <li><a href="/">Home</a></li>
                            <li><a href="/Add-Product">Add Product</a></li>
                           <!-- <li><a href="/Ordering">Ordering</a></li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ordering<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Ordering">Product Ordering</a></li>
                                    <li><a href="/Ordering/History">Order History</a></li>
                                </ul>
                            </li>
                            <li><a href="/Monitor-App">Monitor App</a></li>
                        </ul>
                        <div class="navbar-form navbar-right btn-group">
                            <ul class="navbar-form">
                                <li>{{> loginButtons}}</li>
                            </ul>

                        </div>

                        <div class="navbar-form search">
                            <div class=" form-group" style="display:inline;">
                                <div class="input-group" style="display:table;">
                                    {{> inputAutocomplete settings=settings id="searchText" class="form-control searchText" placeholder="Search Product by Name" autocomplete="off" }}
                                    <!--<input type="text" name="searchKey" id="searchInput" class="form-control" placeholder="Search by Name or Barcode">-->
                                    <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                                </div>
                            </div>
                        </div>

                        <!--<form class="navbar-form">
                            <div class="form-group" style="display:inline;">
                                <div class="input-group" style="display:table;">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                                </div>
                            </div>
                        </form>-->


                       <!-- <ul class="nav navbar-nav navbar-right">
                            <li></li>
                        </ul>-->

                    </div>
                    <!-- /.navbar-collapse -->
                {{/if}}
            </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
</template>

<template name="SearchPill">
    {{name}} <small class="muted">({{size}})</small>
</template>

<template name="NoMatch">
    <span class="text-danger">No Products Found!<br/>Please Re-Enter the Product Name.</span>
</template>