<template name="Ordering" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    {{>Nav}}
<br/>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">


                <div class="input-group search">
                    {{> inputAutocomplete settings=settings id="orderSearchText" class="form-control orderSearchText" placeholder="Search Ordering Product" autocomplete="off" }}
                    <!--<input type="text" class="form-control orderSearch" name="OrderProduct" placeholder="Search Ordering Product">-->
                    <div class="input-group-btn">
                        <button class="btn btn-defaul" id="orderSearchBtn"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary fullOrderList">View Full Order</button>
        </div>

    </div>
    <br/>

    {{#if isFullList}}
        {{>FullOrder}}
    {{else}}
        {{>SrearchOrder}}
    {{/if}}




</template>