<template name="OrderProduct">
    <tr>
        <td></td>
        <td class="col-md-3">{{name}}</td>
        <td class="col-md-3">{{size}}</td>
        <td class="col-md-3">{{price}}</td>
        <td class="col-md-3">
            <div class="center">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" id="{{_id}}minus" data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input style="text-align: center" type="text" id="{{_id}}input" class="form-control input-number" value="{{tmpOrderQuant}}" min="0" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" id="{{_id}}plus" data-type="plus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </td>

    </tr>
</template>