<template name="OrderDetails">
    {{>Nav}}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>Order No: {{getOrderDetails._id}}</h2>
                </div>
                <hr>

                <address>
                    <strong>Order Date: </strong>
                    {{getOrderDetails.date}}
                    <br/>
                    <strong>User: </strong>
                    {{getOrderDetails.userName}}
                </address>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td class="text-center"><strong>Product</strong></td>
                                    <td class="text-center"><strong>Size</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each getOrderProducts}}
                                    <tr>
                                        <td class="text-center">{{name}}</td>
                                        <td class="text-center">{{size}}</td>
                                        <td class="text-center">{{quantity}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>