<template name="OrderHistory">
    {{>Nav}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong><h3>Order History</h3></strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td class="text-center"><strong>Order ID</strong></td>
                                    <td class="text-center"><strong>Date</strong></td>
                                    <td class="text-center"><strong>User</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each getOrderHistory}}
                                    <tr>
                                        <td class="text-center"><a href="/Ordering/History/{{_id}}">{{_id}}</a></td>
                                        <td class="text-center">{{date}}</td>
                                        <td class="text-center">{{userName}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>