<template name="ProductNotFound">
    {{>Nav}}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-template">
                    <h1>
                        Oops!
                        <br/>
                        Product Not Found!
                    </h1>
                    <h2 style="color: red">
                        404 Error!
                    </h2>
                    <div class="error-details">
                        <h3>
                            The Product you requested could not be found. Use your browsers <b>"Back"</b> button to navigate to the page you previously came from
                            <br/>
                            or
                        </h3>

                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</template>