<template name="ProductFull">
    {{>Nav}}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1" >


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-5 col-xs-3 " align="center">
                                <img id="picture" alt="No Image" src="{{getImage.url}}" class="img-squre img-responsive">
                                <input type="file" class="image" id="image" style="display: none"/>
                            </div>

                            <div class=" col-md-8 col-lg-8 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr id="item_name_rw" style="display: none">
                                        <td>Name:</td>
                                        <td><input type="text" style='border-style:dotted;' id="name_txt" value="{{name}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Size:</td>
                                        <td><input type="text" style='border-style:none;' id="size_txt" readonly="true" value="{{size}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Price:</td>
                                        <td><input type="text" style='border-style:none;' id="price_txt" readonly="true" value="{{price}}"/></td>
                                    </tr>

                                    <tr>
                                        <td>Position:</td>
                                        <td>
                                            <div id="posTxt" style="display: inline">
                                                On Tier {{position.tierNo}}, {{position.leftPosition}} item(s) from Left for {{position.noOfCols}} Columns
                                            </div>
                                            <div id="editPos" style="display: none">

                                                <div class="checkbox">
                                                    <label><input class="onShelfVal" id="onShelfVal" type="checkbox" checked="{{position.onShelf}}" >On Shelf</label>
                                                </div>
                                                <div id="enterPos" style="display: {{#if position.onShelf}} inline {{else}} none {{/if}}">

                                                    <div class="col-md-3 ">
                                                        <div class="dropdown">
                                                            <button class="btn btn-default dropdown-toggle" type="button" id="tierBtn" data-toggle="dropdown">{{#if position.onShelf}}Tier {{position.tierNo}}
                                                                    {{else}} Tier No: {{/if}}
                                                                <span class="caret"></span></button>
                                                            <ul class="dropdown-menu tierVal" id="tierVal" role="menu" aria-labelledby="menu1">
                                                                <li role="presentation" value="1"><a role="menuitem">Tier 1</a></li>
                                                                <li role="presentation" value="2"><a role="menuitem">Tier 2</a></li>
                                                                <li role="presentation" value="3"><a role="menuitem">Tier 3</a></li>
                                                                <li role="presentation" value="4"><a role="menuitem">Tier 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 ">
                                                        <input type="text" id="leftPos" placeholder="Position from Left"
                                                               class="form-control leftPos" value="{{position.leftPosition}}">
                                                    </div>

                                                    <div class="col-md-4">
                                                        <input type="text" id="colNo" placeholder="No. of Columns"
                                                               class="form-control colNo" value="{{position.noOfCols}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Order Quantity:</td>
                                        <td>
                                            <input type="text" style='border-style:none; display: inline' id="defOrderQuant_txt" readonly="true" value="{{defaultOrderQuant}}"/>

                                            <div class="col-sm-5" style='display: none' id="editOrderQuant">

                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-danger btn-number" id="minus" data-type="minus" data-field="quant[2]">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                            <input style="text-align: center" type="text" id="defOrderVal" class="form-control input-number" value="{{defaultOrderQuant}}" min="0" max="100">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-success btn-number" id="plus" data-type="plus" data-field="quant[2]">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Barcodes: </td>
                                        {{#if getBarcodes.count}}
                                            <td>

                                                <div class="form-group" >
                                                    <select multiple class="form-control barcodeList" id="barcodeList_edit" style="display: none">
                                                        {{#each getBarcodes}}
                                                            <option value="{{_id}}">{{barcode}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <ul id="barcodeList_normal">
                                                        {{#each getBarcodes}}
                                                            <li>{{barcode}}</li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <button id="del_barcode_btn" href="#" style="display: none" class="btn btn-danger pull-right del_barcode">Delete Seleted Barcode</button>
                                                <label id="multiSelect" class="error_msg pull-right" style="display: none">Please select only one Barcode!</label>
                                                <tr id="add_barcode_rw" style="display: none">
                                                    <td>
                                                        <div class="form-group">

                                                            <input type="text" class="form-control barcodeTxt" id="new_barcode_txt" placeholder="Enter New Barcode"/>
                                                            <label id="barcode_exists" class="error_msg" style="display: none">This Barcode already exists!</label>
                                                            <br>
                                                            <button id="add_barcode_btn" href="#" class="btn btn-success add_barcode">Add Barcode</button>


                                                        </div>

                                                    </td>
                                                </tr>
                                            </td>
                                        {{else}}
                                            <td>
                                                <tr id="add_barcode_rw" style="display: none">
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control barcodeTxt" id="new_barcode_txt" placeholder="Enter New Barcode"/>
                                                            <label id="barcode_exists" class="error_msg" style="display: none">This Barcode already exists!</label>
                                                        </div>


                                                    </td>
                                                </tr>
                                                <button id="add_barcode_btn" href="#" class="btn btn-success add_barcode" >Add New Barcode</button>
                                            </td>

                                        {{/if}}


                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button href="#" class="btn btn-primary editInfo" id="edit_btn"><span class="glyphicon glyphicon-edit" id="icon"></span> Edit Product Information</button>

                        <button href="#" class="btn btn-danger pull-right delProduct" id="del_btn" style="display: none">Delete Product <span class="glyphicon glyphicon-remove"></span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>