<template name="Product">
    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading resume-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-xs-12 col-sm-3">
                                    <figure>
                                        <img class="img-squre img-responsive" alt="No Image" src="{{picture.url}}">
                                    </figure>
                                </div>

                                <div class="col-xs-12 col-sm-9">
                                    <ul class="list-group">
                                        <li class="list-group-item">{{name}}</li>
                                        <li class="list-group-item">{{size}}</li>
                                        <li class="list-group-item">{{price}}</li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <button type="button" name="moreInfoBtn" class="btn btn-info moreInfo" value="{{id}}" >More Info</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>