<template name="Test">
    {{>Nav}}

    <!--<div class="funkyradio">
        <div class="funkyradio">
            <input type="radio" name="radio1" id="radio1" checked/>
            <label class="radioLabel" for="radio1">F irst Option</label>
        </div>
        <div class="funkyradio">
            <input type="radio" name="radio1" id="radio2" />
            <label class="radioLabel" for="radio2">Second Option</label>
        </div>
        <div class="funkyradio">
            <input type="radio" name="radio1" id="radio3" />
            <label class="radioLabel" for="radio3">Third Option</label>
        </div>
        <div class="funkyradio">
            <input type="radio" name="radio1" id="radio4" />
            <label class="radioLabel" for="radio4">Fourth Optiofn</label>
        </div>
    </div>
    <br/>-->

    <div class="col-xs-12 col-md-2 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <!-- image-preview-filename input [CUT FROM HERE]-->
        <div class="input-group image-preview">
            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                </span>
        </div><!-- /input-group image-preview [TO HERE]-->
    </div>

    <!--<div class="funkyradio">
        <div>
            <input type="radio" name="radio" id="radio21" checked/>
            <label for="radio21">F irst Option</label>
        </div>
        <div>
            <input type="radio" name="radio" id="radio22" />
            <label for="radio22">Second Option</label>
        </div>
        <div>
            <input type="radio" name="radio" id="radio23" />
            <label for="radio23">Third Option</label>
        </div>
        <div>
            <input type="radio" name="radio" id="radio24" />
            <label for="radio24">Fourth Optiofn</label>
        </div>
    </div>-->
</template>