<template name="ViewProducts">
    {{> Nav}}
    <div class="col-xs-12 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-10">
        <legend>View Products</legend>
    </div>

    <ul>
        {{#each getProducts}}
            {{> Product}}
        {{/each}}

    </ul>

</template>